<h2><%= @request.name %></h2>
<h3>Category: <%= @request.category.name %></h3>
<p><%= @request.description %></p>
<p>Created by: <%= @request.creator.email %> from <%= @request.creator.organization %></p>

<%= link_to "Edit Feature Request", edit_request_path(@request) %>
<%= link_to "Delete Feature Request",  "/requests/#{@request.id}/delete" if current_user.admin %>