<!DOCTYPE html>
<html>
  <head>
    <title>Phase3ProjectFeatureRequests</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "rails" %>


   



  </head>


  <body>
  <div class="header">
  <h1>Feature Requests</h1>
    <% flash.each do |type, msg| %>
      <div class="alert">
        <%= msg %>
      </div>
    <% end %>
  </div>

    <div class="sidebar">
        <ul>
            <li><%= link_to "All Feature Requests", requests_path %></li>
            <li><%= link_to "New Feature Request", new_request_path %></li>
            <li><%= link_to("My Feature Requests", "/#{current_user.id}/requests", method: :my_requests) %></li>
            <li><%= link_to("My Votes", "/#{current_user.id}/votes", method: :my_votes) %></li>
            <li><%= link_to("Log out", logout_path, method: :delete)  if logged_in? %></li>
        </ul>
    </div>
  <div class="content">
  <%= yield %>
  </div>
  

  </body>
</html>
